<head>
    <!--<script src="/vendor/simpleWebRTC/simplewebrtc.bundle.js"></script>-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/simpleWebRTC/simplewebrtc.bundle.js"></script>
    <script src='/javascripts/siploWebRTC.js'></script>
    <style>
        #remoteVideos video {
            height: 150px;
        }
        #localVideo {
            height: 150px;
        }
    </style>
</head>
<body>
<div id="remoteVideos">
<video autoplay id="localVideo"></video>
</div>
</body>